.card-properties-item {
  margin-top: 16px; }

.select-menu {
  width: 160px;
  margin: 0 8px; }

body, html {
  height: 100vh;
  background: url("https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg") center/cover no-repeat;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: white;
  margin: 0;
  padding: 0; }

.app {
  display: flex;
  flex-direction: column;
  min-height: 100%; }

.main {
  flex-grow: 1; }

.footer {
  color: pink;
  text-align: center; }

.auth-form {
  display: flex;
  max-width: 500px;
  justify-content: center;
  align-items: center;
  background-color: rgba(133, 125, 136, 0.57);
  box-shadow: 0 0 5px rgba(17, 30, 41, 0.5);
  flex-direction: column; }

.social-icons i {
  font-size: 24px; }

.auth-form input {
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none; }
