<div class="footer">
   <div class="footer-text">
                <p>Bản quyền thuộc về Đại học Bách Khoa Hà Nội</p>
                <p class="normal">Địa chỉ: Số 1 Đại Cồ Việt, Hai Bà Trưng, Hà Nội</p>
            </div>
</div>