<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">TRANG CHỦ</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <li class="navbar-nav">
                <a class="nav-link active usercases" aria-current="page" href="/payment/show">Thông kê phí</a>
            </li>
            <li class="navbar-nav">
                <a class="nav-link active manage-expenses usercases" href="/fee/show">Quản lý các khoản phí</a>
            </li>
            <li class="navbar-nav">
                <a class="nav-link active manage-population usercases" href="/pop/">Quản lý nhân khẩu</a>
            </li>
            <li class="navbar-nav">
                <a class="nav-link active manage-accommodation usercases" href="/accom/my-accommodations">Quản lý căn hộ</a>
            </li>
            <li class="navbar-nav">
                <a class="nav-link active login-is-here" id="{{info}}<" href="/me/login">Đăng nhập</a>
            </li>
            <li class="navbar-nav">
                <a class="nav-link active logout-is-here" href="#" data-bs-toggle="modal" data-bs-target="#logout">Đăng xuất</a>
            </li>
        </div>
    </div>
</nav>

{{!-- confirm logout --}}
<div class="modal fade" id="logout" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Đăng Xuất?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn có muốn đăng xuất?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-confirm-logout" type="button" class="btn btn-danger">Xác nhận</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
            </div>
        </div>
    </div>
</div>

{{!-- Logout Form --}}
{{!-- <form name="logout-form" action="me/logout" method="POST"></form> --}}

{{!-- require login --}}
<div class="modal fade" id="requireLogin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>Bạn cần đăng nhập để dùng chức năng này</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                <button id="btn-login" type="button" class="btn btn-primary">Đăng nhập</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const loginOption = $(".login-is-here"); // Chọn phần tử có class là login-is-here
        const loginId = loginOption.attr("id");
        const logoutOption = $(".logout-is-here");
        const managePopulationOption = $(".manage-population");
        const manageAccommodationOption = $(".manage-accommodation");
        const manageExpensesOption = $(".manage-expenses");
        const btnComfirmLogout = document.getElementById('btn-confirm-logout')
        const logoutForm = document.forms['logout-form']
        const ucs = $('.usercases')
        const requireLoginModel = new bootstrap.Modal(document.getElementById('requireLogin'));
        const btnLogin = document.getElementById("btn-login")
        console.log(loginId)

        // Xử phần đăng nhập, đăng xuất và thêm nhân khẩu
        if (loginId === '<') {
            // Nếu không có ID, ẩn đi phần đăng xuất
            logoutOption.css("display", "none");
            // Loại bỏ thuộc tính style từ phần đăng nhập
            loginOption.css("display", "");
        } else {
            // Nếu có ID, ẩn đi phần đăng nhập
            loginOption.css("display", "none");
            // Loại bỏ thuộc tính style từ phần đăng xuất
            logoutOption.css("display", "");
        }

        // xử lý phần xác nhận đăng xuất
        btnComfirmLogout.onclick = function () {
            {{!-- logoutForm.submit(), --}}
            window.location.href = '/me/logout';
        }

        // yêu cầu đăng nhập
        ucs.click(function (event) {
            if (loginId === '<') {
                event.preventDefault()
                requireLoginModel.show()
            }
        })

        // xử lý nút đăng nhập trong phần yêu cầu đăng nhập
        btnLogin.onclick = function () {
            window.location.href = '/me/login';
        }

        // quản lý nhân khẩu và căn hộ
        {{!-- if (loginId !== 'admin<') {
            // Nếu không có ID là admin, ẩn đi chức năng quản lý
            managePopulationOption.css("display", "none");
            manageAccommodationOption.css("display", "none");
            manageExpensesOption.css("display", "none");
        } else {
            // Nếu có ID là admin, hiển thị chức năng quản lý
            managePopulationOption.css("display", "");
            manageAccommodationOption.css("display", "");
            manageExpensesOption.css("display", "");
            ucs.css("display", "none");
        } --}}
    });
</script>
