<div class="mt-4">
    <h3>Đăng ký nhân khẩu</h3>

    <form action="/pop/store" method="post">
        <div class="mb-3">
            <label for="description" class="form-label">Tên đăng nhập</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Mật khẩu</label>
            <input type="text" class="form-control" id="pass" name="pass">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Họ và tên</label>
            <input type="text" class="form-control" id="fullname" name="fullname">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Ngày sinh</label>
            <input type="text" class="form-control" id="birth" name="birth">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Số điện thoại</label>
            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" name="email">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Mã chủ hộ</label>
            <input type="text" class="form-control" id="householer" name="householer">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Mã căn hộ</label>
            <input type="text" class="form-control" id="houseId" name="houseId">
        </div>

        <button type="submit" class="btn btn-primary">ADD</button>
    </form>
</div>