<!DOCTYPE html>
<html>
<body>
    <div class='mt-4'>
        <p>day la phan gioi thieu {{username}}</p>
    </div>
</body>
</html>

{{!-- <script>
        // Lấy tham số từ URL
        const urlParams = new URLSearchParams(window.location.search);
        const logoutParam = urlParams.get('logout');

        // Kiểm tra nếu có tham số logout=true, thì hiển thị thông báo
        if (logoutParam === 'true') {
            alert('Bạn vừa đăng xuất!');
        }
</script> --}}