<div class="mt-4">
    <h3>Cập nhật căn hộ</h3>
    <form action="/accom/{{accom._id}}?_method=PUT" method="POST">
        <div class="mb-3">
            <label for="description" class="form-label">Mã căn hộ </label>
            <input type="text" class="form-control" value="{{accom.houseId}}" id="houseId" name="houseId">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Diện tích</label>
            <input type="text" class="form-control" value="{{accom.area}}" id="area" name="area">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Gửi xe</label>
            <select class="form-select" name="parkingLot" aria-label="Default select example">
                <option value="no-parking" selected>Không gửi xe</option>
                <option value="motorbike">Xe máy</option>
                <option value="car">Ô tô</option>
                <option value="bicycle">Xe đạp</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">SAVE</button>
    </form>
</div>